!!! 5
html(lang="en")
  head
    script(src='/socket.io/socket.io.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js')
    script(src='underscore.js')
    script(src='client.js')
    link(rel='stylesheet', href='/twitter_bootstrap.css')
    link(rel='stylesheet', href='/nodeprose.css')

    title Exquisite Corpse

  body
    != body
